$primary: #3369F3;

.errors {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 100vh;
    &__title {
        font-size: 40px;
        line-height: 40px;
        padding-bottom: 15px;
        
    }
    &__message {
        padding-bottom: 45px;
        font-size: 20px;
        line-height: 20px;
    }
    &__link, &__link:visited {
        color: $primary;
        font-size: 11px;
        line-height: 11px;
    }
    &__link:hover {
        opacity: 0.8;
    }
}