<main class="login">
  <form class="login__body">
    <div class="login__header">
      <h1 class="login__title">
        Вход
      </h1>
    </div>
    <div class="login__content">
      {{{input.login}}}
      {{{input.password}}}
    </div>
    <div class="login__footer">
      {{{button.primary}}}
      <a href="/signin" class="login__link">{{{button.default}}}</a>
    </div>
  </form>
</main>
