<fieldset class="field {{#if isChangingPage}}field--position{{/if}}">
  {{{input}}}
   {{#if invalid}}<div class="field__error {{#if isChangingPage}}field__error--position{{/if}}">{{{message}}}</div>{{/if}} 
  <label for="" class="field__label">{{{labelName}}}</label>    

</fieldset>
