/* stylelint-disable selector-no-vendor-prefix */
$secondary: #999;
$invalid: #ff2f2f;
$primary: #3369f3;

.field {
  display: flex;
  align-items: center;
  position: relative;
  margin-bottom: 36px;

  &--position {
    justify-content: flex-end;
    margin: 0;
  }

  &__input {
    width: 280px;
    font-size: 13px;
    line-height: 13px;
    border: none;
    border-bottom: 1px solid $primary;
    outline: none;

    &--invalid {
      color: $invalid;
    }
  }

  &__input::placeholder {
    color: $secondary;
    padding: 0;
    padding-bottom: 7px;
  }

  &__label {
    position: absolute;
    left: 1px;
    bottom: 0;
    text-align: left;
    align-items: center;
    color: $secondary;
    opacity: 0;
    transition: all 150ms ease;
    pointer-events: none;
  }

  &__input:focus ~ &__label {
    opacity: 1;
    font-size: 8px;
    line-height: 18px;
    transform: translate(0, -18px);
    font-family: Inter, sans-serif;
  }

  &__error {
    position: absolute;
    left: 1px;
    bottom: -14px;
    font-weight: 400;
    font-size: 8px;
    line-height: 8px;
    color: $invalid;

    &--position {
      left: auto;
      right: 1px;
    }
  }

  &__input::-webkit-input-placeholder {
    opacity: 1;
    transition: opacity 0.3s ease;
  }

  &__input:focus::-webkit-input-placeholder {
    opacity: 0;
    transition: opacity 0.3s ease;
  }

  &__input:invalid + &__error {
    opacity: 1;
  }
}
