    <div class="contact__wrapper {{#if selected}}contact--selected{{/if}}">
      <div class="contact {{#if selected}}contact--selected{{/if}}">
        <div class="contact__avatar">
          <img src="{{{defaultUserPhoto}}}" alt="user-photo">
        </div>
        <div class="contact__body">
          <p class="contact__title">Андрей</p>
          <p class="contact__last-message">Изображение</p>
        </div>
        <div class="contact__info">
          <div class="info__time">
            <p>10:49</p>
          </div>
          <div class="info__unread">
            <p>5</p>
          </div>
        </div>
      </div>
    </div>
