<form class="profile__avatar">
    <img src="{{{avatar}}}" alt="userPhoto" />
    <input
        class="avatar-photo"
        type="file"
        accept="image/*"
        name="avatar"
    />
    <p>Поменять аватар</p>
</form>
