$text: #1e1e1e;
$primary: #3369f3;
$secondary: #999999;
$background: #ffffff;
$background-accent: #fbfbfb;
$background-item: #efefef;
$border: #eaeaea;
$black: #000000;
$shadow: 0px 0px 6px rgba(0, 0, 0, 0.14);
$exit: #ff0000;
$selected: #e4edfd;
$menu: #f5f5f5;
$message: #f8f8f8;
