$text: #1e1e1e;
$primary: #3369f3;
$secondary: #999999;
$background: #ffffff;
$background-accent: #fbfbfb;
$background-item: #efefef;
$border: #eaeaea;
$black:#000000;
$shadow: 0px 0px 6px rgba(0, 0, 0, 0.14);
$exit: #ff0000;
$selected: #E4EDFD;
$menu: #F5F5F5;
$message: #F8F8F8;


