$text: #1e1e1e;
$primary: #3369f3;
$secondary: #999;
$background: #fff;
$background-accent: #fbfbfb;
$background-item: #efefef;
$border: #eaeaea;
$black: #000;
$shadow: 0 0 6px rgb(0 0 0 / 14%);
$exit: #f00;
$selected: #e4edfd;
$menu: #f5f5f5;
$message: #f8f8f8;
